*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #e4e4e3;
}
.heading{
    padding-top: 3rem;
    text-align: center;
    /* background-color: #e4e4e3; */
    font-family: 'Roboto', sans-serif;

}
.container{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
}
.container img{
    height: 20rem;
    object-fit: contain;
}
.container a h3{
    text-align: center;
    color: black;
}